<!--This file provides UI for home page - the page that user sees after log-in-->

{% extends 'base.html' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block style %}
    .flex-container {
        display: flex;
    }

    .flex-child {
        color: black;
        flex: 1;
        border: 3px solid gray;
    }

    .flex-child:first-child {
        margin-right: 30px;
    }
{% endblock %}

{% block content %}
    <!--    represents main part of the page: chat + friends list-->
    <div class="flex-container">

<!--        chat - it's just a preview of chat; the real one is implemented in home_chat.html-->
      <div class="flex-child">
        <h style="font-size: 30px">Chat with: </h>
        <p>...</p>
      </div>
<!--        friends list - dropdown menu - user can choose the person to communicate with-->
      <div class="flex-child">
          <form class="form-inline" method="POST" action="{{ url_for('home_page_chat') }}">
            <div class="container">
                <label style="font-size:25px">Select User To Communicate With</label>
                <select name="user" class="selectpicker form-control" title="Select User">
                {% for user in users %}
                    <option value="{{ user }}">{{ user }}</option>
                {% endfor %}
                </select>
                <button type="submit" class="btn btn-lg btn-block btn-primary" style="margin-top:1%">Confirm</button>
            </div>
          </form>
      </div>
    </div>

{% endblock %}
