{% extends 'base_unsigned.html' %}

{% block title %}
    Log In - {{ page_title }}
{% endblock %}

{% block style %}
    img {
      width: 70%;
    }

    .container {
      color: black ! important;
      font-size: 22px ! important;

      width: 26% ! important;
    }

    .password_forgotten {
      a:hover { text-shadow: 0 0 5px #ff0000; };
      text-decoration: none;
      color: #051ed3;
      float: left;
    }

    body {
      background-color: {{ color }} ! important;
    }
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register">
            <img src="static/chat_icon.png">
            <h1 class="display-4" style="font-weight: bold; font-size: 56px; color:white">{{ page_title }}</h1>
            <br>
            <h1 style="font-size:30px">Please Log Into Your Account</h1>
            {{ form.hidden_tag() }}

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}
            <a class="password_forgotten" href="{{ url_for('registration_page') }}">Don't have an account?</a>
            <br>
            <div style="float: right">
                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            </div>
            <br>
        </form>
    </div>
</body>
{% endblock %}
