<!--The first page that user sees
    Simple start page with a little of css
    -->

{% extends 'base_unsigned.html' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block style %}
    img {
      width: 60%;
      }

    div {
      color: white;
      font-size: 56px;
      text-align: center;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .login {
      text-decoration: none;
      font-size: 32px;
      color: black;
    }

    body {
      background-color: {{ color }} ! important;
    }

{% endblock %}
{% block content %}
    <div>
        <figure>
            <img src="static/chat_icon.png">
            <figcaption class="display-4" style="font-weight: bold">{{ page_title }}</figcaption>
            <figcaption>
                <a class="login" href="{{ url_for('login_page') }}">Click here to log in</a>
            </figcaption>
        </figure>
    </div>
{% endblock %}
